.App {
  text-align: center;
  background-color: #282c34;
  padding: 30px;
  height: calc(100vh - 60px);
  display: flex;
  color: lightcyan;
}

button {
  margin: auto;
  padding: 20px;
  border: 2px solid #09d3ac;
  background-color: transparent;
  color: #09d3ac;
  border-radius: 10px;
  outline: transparent;
}

button:active {
  border-color: darkcyan;
  color: darkcyan;
  background-color: lightcyan;
}